<h2>Shopping Cart</h2>
<p>You have [XX] items in your shopping cart</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of shoppingCartService.shoppingCartItems$ | async; let i = index;">
      <td>
        <div [ngStyle]="{ 'background-image': 'url(' + item.product.imageUrl + ')'}" class="img-thumbnail"></div>
      </td>
      <td>{{ item?.product.title }}</td>
      <td>
        <product-quantity [currentItem]="item"></product-quantity>
      </td>
      <td>{{ item.product.price*item.quantity | currency: 'USD' }}</td>
    </tr>
  </tbody>
</table>
<button (click)="emptyCart()" class="btn btn-danger">Empty Shopping Cart</button>