
<div class="container">
  <div class="row">
    <div class="col-sm">
       <!-- Product Form -->
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input formControlName="title" type="text" class="form-control" id="title" placeholder="Product title here">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input formControlName="price" type="text" class="form-control" id="price" aria-label="Price">
          </div>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select formControlName="category" class="form-control" id="category">
            <option *ngFor="let category of productCategories | async"
            [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input formControlName="imageUrl" type="text" class="form-control" id="imageUrl" placeholder="Input image url">
        </div>
        <button [disabled]="!productForm.valid" type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
    <!-- Product Display -->
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://loremflickr.com/286/180" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ productForm.get('title').value }}</h5>
          <p class="card-text">{{ productForm.get('price').value | currency }}</p>
        </div>
      </div>
    </div>
  </div>
</div>