
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div *ngIf="newProduct; then newProductForm else editProductForm">
        template content loads here...
      </div>
      <!-- Edit Product Form -->
      <ng-template #editProductForm>
        <form *ngIf="product$ | async; else loading" [formGroup]="productForm" (ngSubmit)="onSave()">
          <div class="form-group">
            <label for="title">Title</label>
            <input formControlName="title" type="text" class="form-control" id="title" placeholder="Product title here">
            <div *ngIf="title.invalid && (title.dirty || title.touched)"
                  class="alert alert-danger">
              <div *ngIf="title.errors['required']">
                Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input formControlName="price" type="number" class="form-control" id="price" aria-label="Price">
            </div>
            <div *ngIf="price.invalid && (price.dirty || price.touched)"
                  class="alert alert-danger">
              <div *ngIf="price.errors['required']">
                Price is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select formControlName="categoryId" class="form-control" id="category" (change)="setCategory()">
              <option 
                *ngFor="let category of productService.productCategories$ | async"
                [value]="category.id">{{ category.name }}</option>
              </select>
              <div *ngIf="categoryId.invalid && (categoryId.dirty || categoryId.touched)"
                    class="alert alert-danger">
                <div *ngIf="categoryId.errors['required']">
                  Category is required.
                </div>
              </div>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input formControlName="imageUrl" type="text" class="form-control" id="imageUrl" placeholder="Input image url">
            <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)"
                  class="alert alert-danger">
              <div *ngIf="imageUrl.errors['required']">
                Image is required.
              </div>
            </div>
          </div>
          <button [disabled]="!productForm.valid" type="submit" class="btn btn-primary">Save</button>
          <a [routerLink]="['/admin/products']" class="btn btn-danger" (click)="onDelete()">Delete</a>
          <a [routerLink]="['/admin/products']" class="btn btn-link">Cancel</a>
        </form>
        <ng-template #loading>
            Loading User...
        </ng-template>
      </ng-template>
      <!-- New Product Form -->
      <ng-template #newProductForm>
        <form [formGroup]="productForm" (ngSubmit)="onSave()">
          <div class="form-group">
            <label for="title">Title</label>
            <input formControlName="title" type="text" class="form-control" id="title" placeholder="Product title here">
            <div *ngIf="title.invalid && (title.dirty || title.touched)"
                  class="alert alert-danger">
              <div *ngIf="title.errors['required']">
                Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input formControlName="price" type="number" class="form-control" id="price" aria-label="Price">
            </div>
            <div *ngIf="price.invalid && (price.dirty || price.touched)"
                  class="alert alert-danger">
              <div *ngIf="price.errors['required']">
                Price is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select formControlName="categoryId" class="form-control" id="category" (change)="setCategory()">
              <option *ngFor="let category of productService.productCategories$ | async"
              [value]="category.id">{{ category.name }}</option>
            </select>
            <div *ngIf="categoryId.invalid && (categoryId.dirty || categoryId.touched)"
                  class="alert alert-danger">
              <div *ngIf="categoryId.errors['required']">
                Category is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input formControlName="imageUrl" type="text" class="form-control" id="imageUrl" placeholder="Input image url">
            <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)"
                  class="alert alert-danger">
              <div *ngIf="imageUrl.errors['required']">
                Image is required.
              </div>
            </div>
          </div>
          <button [disabled]="!productForm.valid" type="submit" class="btn btn-primary">Save</button>
          <a [routerLink]="['/admin/products']" class="btn btn-link">Cancel</a>
        </form>
      </ng-template>
    </div>
    <!-- Product Display -->
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="productForm.get('imageUrl').value" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ productForm.get('title').value }}</h5>
          <p class="card-text">{{ productForm.get('price').value | currency }}</p>
        </div>
      </div>
    </div>
  </div>
</div>