<ul class="list-group">
  <li 
    class="list-group-item"
    (click)="clearCategoryFilters()"
    [class.active]="allCategories">
      All Categories</li>
  <li 
    *ngFor="let category of categoryService.productCategories$ | async" 
    class="list-group-item"
    [class.active]="category.category === selectedCategory?.category"
    (click)="onSelect(category)">
      <!-- Somehow this 'safe traversal' (?.) above makes this async validation check work -->
      {{ category.name }}
  </li>
</ul>