<div class="sticky-top">
  <div class="list-group">
      <a 
        routerLink="/"
        class="list-group-item list-group-item-action"
        [class.active]="paramsCatId === 'allCategories'">
          All Categories</a>
      <a 
        *ngFor="let category of productCategories$ | async" 
        routerLink="/"
        [queryParams]="{ category: category.name, categoryId: category.id }"
        class="list-group-item list-group-item-action"
        [class.active]="category.id === paramsCatId"
        >
          {{ category.name }}
      </a>
  </div>
</div>