<h2 mat-dialog-title>Edit Order Details</h2>
<mat-dialog-content [formGroup]="orderDetailsForm">
  <mat-form-field>
    <mat-select 
      placeholder="Select Order Status"
      formControlName="orderStatusId">
      <mat-option 
        *ngFor="let orderStatus of orderStatuses$ | async"
        [value]="orderStatus.orderStatusId">
          {{ orderStatus.orderStatusName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input 
      matInput
      placeholder="Full Name"
      formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input 
      matInput
      placeholder="Address"
      formControlName="address1">
  </mat-form-field>
  <mat-form-field>
    <input 
      matInput
      placeholder="Address2"
      formControlName="address2">
  </mat-form-field>
  <mat-form-field>
    <input 
      matInput
      placeholder="City"
      formControlName="city">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button 
    class="mat-raised-button"
    (click)="close()">
      Close
  </button>
  <button 
    class="mat-raised-button mat-primary"
    (click)="save()">
      Save
  </button>
</mat-dialog-actions>