<div class="dialogue-box">
  <h2 mat-dialog-title>Edit Order Details</h2>
  <mat-dialog-content [formGroup]="orderDetailsForm">
    <mat-form-field>
      <mat-select 
        placeholder="Select Order Status"
        formControlName="orderStatusId">
        <mat-option 
          *ngFor="let orderStatus of orderStatuses$ | async"
          [value]="orderStatus.orderStatusId">
            {{ orderStatus.orderStatusName }}
        </mat-option>
      </mat-select>
      <mat-error *ngFor="let validation of ORDER_FORM_VALIDATION_MESSAGES.orderStatusId">
        <mat-error *ngIf="orderStatus.hasError(validation.type) && orderStatus.invalid && (orderStatus.dirty || orderStatus.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput
        placeholder="Full Name"
        formControlName="name">
      <mat-error *ngFor="let validation of ORDER_FORM_VALIDATION_MESSAGES.name">
        <mat-error *ngIf="name.hasError(validation.type) && name.invalid && (name.dirty || name.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput
        placeholder="Address"
        formControlName="address1">
      <mat-error *ngFor="let validation of ORDER_FORM_VALIDATION_MESSAGES.address1">
        <mat-error *ngIf="address1.hasError(validation.type) && address1.invalid && (address1.dirty || address1.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput
        placeholder="Address2"
        formControlName="address2">
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput
        placeholder="City"
        formControlName="city">
      <mat-error *ngFor="let validation of ORDER_FORM_VALIDATION_MESSAGES.city">
        <mat-error *ngIf="city.hasError(validation.type) && city.invalid && (city.dirty || city.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button
      [disabled]="orderDetailsForm.invalid"
      mat-raised-button
      color="primary"
      (click)="save()">
        Save
    </button>
    <button 
    mat-raised-button
    (click)="close()">
      Cancel
    </button>
  </mat-dialog-actions>
</div>
  