<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">O</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/shopping-cart" class="nav-link" >Shopping Cart</a>
      </li>
      <div *ngIf="auth.user$ | async; then authenticated else guest">
        <!-- template will replace this div -->
      </div>
      <ng-template #authenticated>
        <li class="nav-item dropdown" ngbDropdown *ngIf="auth.user$ | async as user">
          <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>{{ user.displayName }}</a>
          <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="/my-orders">My Orders</a>
            <a class="dropdown-item" routerLink="/admin/orders" *ngIf="user.isAdmin" >Manage Orders</a>
            <a class="dropdown-item" routerLink="/admin/products" *ngIf="user.isAdmin">Manage Products</a>
            <a class="dropdown-item" routerLink="/" (click)="auth.signOut()">Log Out</a>
          </div>
        </li>
      </ng-template>
      <ng-template #guest>
        <li class="nav-item" >
          <a routerLink="/login" class="nav-link"  >Login</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
