<div class="card card-container">
  <div class="card-body">
    <h5 class="card-title">Order Summary</h5>
    <p class="card-text">You have {{ cartItemQuantity$ | async }} items in your shopping cart.</p>
    <table class="table">
      <tbody>
        <tr *ngFor="let item of shoppingCartItems$ | async">
          <td>
            {{ item.quantity }} x {{ item.product.title }}
          </td>
          <td>
            {{ item.product.price*item.quantity | currency: 'USD' }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <th>Total</th>
        <th>{{ cartTotalPrice$ | async | currency: 'USD' }}</th>
      </tfoot>
    </table>
  </div>
</div>