<div class="row">
  <div class="col-sm-6">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input 
            matInput
            placeholder="Full Name"
            formControlName="name">
          <mat-error *ngFor="let validation of CHECKOUT_FORM_VALIDATION_MESSAGES.name">
            <mat-error *ngIf="name.hasError(validation.type) && name.invalid && (name.dirty || name.touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input 
            matInput
            placeholder="Address"
            formControlName="address1">
          <mat-error *ngFor="let validation of CHECKOUT_FORM_VALIDATION_MESSAGES.address1">
            <mat-error *ngIf="address1.hasError(validation.type) && address1.invalid && (address1.dirty || address1.touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input 
            matInput
            placeholder="Address2"
            formControlName="address2">
        </mat-form-field>
        <mat-form-field>
          <input 
            matInput
            placeholder="City"
            formControlName="city">
          <mat-error *ngFor="let validation of CHECKOUT_FORM_VALIDATION_MESSAGES.city">
            <mat-error *ngIf="city.hasError(validation.type) && city.invalid && (city.dirty || city.touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <button
          [disabled]="checkoutForm.invalid || (shoppingCartItems$ | async).length < 1"
          mat-raised-button
          color="primary"
          type="submit">
            Place Order
        </button>
      </form>
    </div>
  <div class="col-sm-6">
      <shopping-cart-summary></shopping-cart-summary>
  </div>
</div>
