
<div *ngIf="(order$ | async) as orderWithProducts" class="row">
  <div class="col-sm-6">
    <div *ngIf="(appUser$ | async) as user">
      <div *ngIf="user && user.isAdmin && (customer$ | async) as customerData">
        <h3>Customer Details</h3>
        <p>
          Name: {{ customerData.displayName }} <br>
          Email: {{ customerData.email }}
        </p>
      </div>
    </div>
    <h3>Order Number:</h3>
    <p>{{ orderWithProducts.orderId }}</p>
    <h3>Shipping To:</h3>
    <p>
      {{ orderWithProducts.deliveryData.name }} <br>
      {{ orderWithProducts.deliveryData.address1 }} <br>
      {{ orderWithProducts.deliveryData.address2 }} <br>
      {{ orderWithProducts.deliveryData.city }}
    </p>
    <div *ngIf="(appUser$ | async) as user">
      <div *ngIf="user && user.isAdmin && (customer$ | async) as customerData">
        <button 
          (click)="editOrder()"
          class="btn btn-warning">
            Edit Order Details
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div *ngIf="(appUser$ | async) as user">
        <div *ngIf="user && user.isAdmin">
          <h3>Order Status: {{ orderWithProducts.orderStatusName }}</h3>
        </div>
    </div>
    <div class="card card-container">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>
          <table class="table">
            <tbody>
              <tr *ngFor="let item of orderWithProducts.orderItems">
                <td>
                  {{ item.orderItemQuantity }} x {{ item.product.title }}
                </td>
                <td>
                  {{ item.orderItemPrice*item.orderItemQuantity | currency: 'USD' }}
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="orderAmount">
              <th>Total</th>
              <th>{{ orderAmount | currency: 'USD' }}</th>
            </tfoot>
          </table>
        </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>